

body{
	background-color:cadetblue;
}

h1{
	color:#fff;
	border-top:2px solid #FFF;
	padding-top: 50px;
	border-bottom:2px solid #FFF;
	padding-bottom:50px;
	text-align:center;
	
}
h2{
	color:#FC0;
	margin-left:10px;
}

p{
	color:#fff;
	font-size:20px;
	margin-left:10px;
}

p span{font-size:2em;
}